@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

:root {
    --primary: #63BF60;
    --darker-primary: #58A65D;
    --accent: #F26E50;
    --darker-accent:  #d46950;
    --lighter: rgba(255, 255, 255, 0.10);
    --primary-gr: linear-gradient(62.27deg, #37A633 -0.93%, #81D080 95.35%);;
    --accent-gr: linear-gradient(207.48deg, #F26E50 18.73%, #FA8F77 80.5%);
    --primary-split: linear-gradient(28.55deg, #58A65D 7.38%, #59A75D 48.68%, #63BF60 48.69%, #63BF60 99.59%);
    --accent-split: linear-gradient(217.23deg, #F26E50 18.73%, #F26E50 46.72%, #EF8168 46.95%, #EF8168 80.5%);
    --black-text: #595757;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 18px;
    background: var(--background-gr) fixed;
    color: var(--text-color);
}

b {
    font-weight: 500;
}

a{
    transition: ease-in-out color .15s;
}

kbd {
    background: var(--accent);
    margin: 2px;
}

.light-mode {
    --background-gr: linear-gradient(145deg, #F3F3F3 0%, #FFFFFF 100%);
    --text-color: var(--black-text);
    --accent-or-dark: var(--accent-gr);
    --white-or-accent: var(--white-text);
    --text-color-button: white;
    --text-primary: #31a22d;
    --text-accent: #f15e3d;
    --white-text: #FFFFFF;
}

.dark-mode {
    --background-gr: linear-gradient(145deg, #1F1F1F 0%, #131313 100%);
    --text-color: var(--white-text);
    --accent-or-dark: var(--background-gr);
    --white-or-accent: var(--accent);
    --text-color-button: black;
    --text-primary: #71d76e;
    --text-accent: #ff8d73;
    --white-text: #eaeaea;
}

.text-accent {
    color: var(--text-accent)!important;
}

.text-primary {
    color: var(--text-primary)!important;
}

.text-white {
    color: var(--white-text)!important;
}

.text-black {
    color: var(--black-text)!important;
}

.nav-header {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.opacity-interaction {
    transition: ease-in-out opacity .2s;
}

.opacity-interaction:hover {
    opacity: .75;
}

.opacity-interaction:focus {
    opacity: .5;
}

#navbar {
    transition: top 0.3s; 
}

@media (min-width: 767px) { 
    .navbar-anim  {
        transform: translateY(-62.38px); 
        animation-name: show-nav;
        animation-delay: 1500ms;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
    }
}


@keyframes show-nav {
    0% {
        transform: translateY(-62.38px); 
    } 100% {
        transform: translateY(0); 
    }
}

.full-page-section {
    min-height: 100%;
    display: flex;
}

.section-content {
    flex: 1;
}

.title {
    padding-left: 2px;
    margin-top: -5px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 61px;
    color: var(--text-color);
}

.sub-title {
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 37px;
    color: var(--text-primary);
}


@keyframes pulse {
    0% {
        transform: translate(0, 0); 
    }
    50% {
        transform: translate(0, -10px); 
    }
    100% {
        transform: translate(0, 0); 
    } 
}

.card-on-shape-1 {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
}

/* Overide bootstrap */
.navbar-collapse {
    flex-grow: unset;
}

.navbar-toggler {
    font-size: 22px;
    outline:none !important;
    border: none;
}

.navbar-brand {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 7px!important;
}

@media (min-width: 767px) { 
    .nav-link.active {
        box-shadow: inset 0px -3px 0px 0px #f6f5f5;
    }
}

@media (max-width: 767px) { 
    .nav-link.active {
        box-shadow: inset 5px 0px 0px 0px #f6f5f5;
        
    }
}

.nav-py {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.nav-menu {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    transition: ease-in-out background .1s;
}

.nav-menu:hover {
    background: var(--darker-accent);
}

.nav-link {
    color: var(--white-text)!important;
}

.nav-select {
    transition: ease-in-out border-width .2s;
}

.nav-select.nav-select-border {
    border: 1.5px solid var(--white-text);
}

.nav-select > .nav-to-select {
    width: 67px;
    transition: ease-in-out width .2s, ease-in-out opacity .2s, ease-in-out padding-left .2s, ease-in-out padding-right .2s;
}

.nav-select > .nav-select-hide {
    padding-right: 0 !important;
    padding-left: 0 !important;
    z-index: -1;
    width: 0px;
    opacity: 0;
}

.btn {
    border: none;
    padding: .4rem 1rem .4rem 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-button) !important;
}

.btn:hover {
    color: var(--text-color-button) !important;
}


.btn-accent {
    background: var(--text-accent);
}

.btn-accent:hover {
    background: var(--darker-accent);
}

.btn-accent:focus {
    box-shadow: 0 0 0 0.2rem var(--darker-accent);
}

.btn-primary {
    background: var(--text-primary) !important;
}

.btn-primary:hover {
    background: var(--darker-primary) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--darker-primary) !important;
}

h1, h2, h3 {
    margin-bottom: .7rem;
}

p {
    margin-bottom: 1.2;
}

.card {
    border-radius: .8rem;
    background: var(--background-gr);
    padding: 1.5rem;
    border: none;
}

.bg-gr {
    background: var(--background-gr);
}

.bg-primary {
    background: var(--primary);
}

.bg-primary-gr {
    background: var(--primary-gr);
}

.bg-primary-split {
    background: var(--primary-split);
}

.bg-accent {
    background: var(--accent);
}

.bg-accent-gr {
    background: var(--accent-gr);
}

.bg-accent-split {
    background: var(--accent-split);
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.fp-caret-down {
    color: var(--text-accent);
    font-size: 72px;
}

.fp-caret-down:hover {
    color: var(--accent);
}

.pulse {
    animation: pulse 2s infinite;
}

.bg-accent-or-dark {
    background: var(--accent-or-dark);
}

.text-white-or-accent {
    color: var(--white-or-accent);;
}

.text-white-or-accent:hover {
    color: var(--white-or-accent);;
}

.bt-primary {
    border-top: solid var(--primary) 1rem;
    border-radius: 0 0 .8rem .8rem;
}

footer {
    background: var(--black-text);
}

footer a {
    color: white;
    text-transform: uppercase;
    transition: opacity .2s;
}

footer a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.footer-logo {
    text-transform: uppercase;
}

.footer-logo div:first-child {
    font-size: 40px;
    line-height: .7;
}

.footer-logo div:last-child {
    font-size: 27px;
}

.nav-offset {
    height: 62.38px;
}

.card-icon {
    color: var(--white-text);
    font-size: 60px;
}

.card-text {
    margin-left: 25px;
    color: var(--white-text);
}

.card-text div:first-child {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
}

.card-text div:last-child{
    margin-left: 4px;;
    font-size: 20px;
}

.light-mode .card-accent {
    background: var(--accent-gr);
}

.light-mode .card-primary {
    background: var(--primary-gr);
}

.dark-mode .card-accent {
    border-top: 10px solid var(--accent);
    background: var(--lighter);
}

.dark-mode .card-primary {
    border-top: 10px solid var(--primary);
    background: var(--lighter);
}

.dark-mode .bg-lighter  {
    background: var(--lighter);
}

table {
    color: var(--text-color)!important;
}



.table-container {
    height: 400px;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}