@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

:root {
    --primary: #63BF60;
    --darker-primary: #58A65D;
    --accent: #F26E50;
    --darker-accent:  #d46950;
    --lighter: rgba(255, 255, 255, 0.10);
    --darker: rgba(0, 0, 0, 0.10);
    --primary-gr: linear-gradient(62.27deg, #37A633 -0.93%, #81D080 95.35%);;
    --accent-gr: linear-gradient(207.48deg, #F26E50 18.73%, #FA8F77 80.5%);
    --primary-split: linear-gradient(28.55deg, #58A65D 7.38%, #59A75D 48.68%, #63BF60 48.69%, #63BF60 99.59%);
    --accent-split: linear-gradient(217.23deg, #F26E50 18.73%, #F26E50 46.72%, #EF8168 46.95%, #EF8168 80.5%);
    --black-text: #595757;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 18px;
    background: var(--background-gr) fixed;
    color: var(--text-color);
}

b {
    font-weight: 500;
}

a{
    color: var(--text-accent);
    transition: ease-in-out color .15s;
}

a:hover, a:focus{
    color: var(--text-accent);
}

kbd {
    background: var(--accent);
    margin: 2px;
}

.light-mode {
    --background-gr: linear-gradient(145deg, #F3F3F3 0%, #FFFFFF 100%);
    --text-color: var(--black-text);
    --accent-or-dark: var(--accent-gr);
    --white-or-accent: var(--white-text);
    --text-color-button: white;
    --text-primary: #31a22d;
    --text-accent: #f15e3d;
    --white-text: #FFFFFF;
    --lighter-or-darker: var(--darker);
}

.dark-mode {
    --background-gr: linear-gradient(145deg, #1F1F1F 0%, #131313 100%);
    --text-color: var(--white-text);
    --accent-or-dark: var(--background-gr);
    --white-or-accent: var(--accent);
    --text-color-button: white;
    --text-primary: #71d76e;
    --text-accent: #ff8d73;
    --white-text: #eaeaea;
    --lighter-or-darker: var(--lighter);
}

.text-accent {
    color: var(--text-accent)!important;
}

.text-primary {
    color: var(--text-primary)!important;
}

.text-white {
    color: var(--white-text)!important;
}

.text-black {
    color: var(--black-text)!important;
}

.nav-header {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.opacity-interaction {
    transition: ease-in-out opacity .2s;
}

.opacity-interaction:hover {
    opacity: .75;
}

.opacity-interaction:focus {
    opacity: .5;
}

#navbar {
    transition: top 0.3s; 
}

@media (min-width: 767px) { 
    .navbar-anim  {
        transform: translateY(-62.38px); 
        animation-name: show-nav;
        animation-delay: 1500ms;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
    }
}


@keyframes show-nav {
    0% {
        transform: translateY(-62.38px); 
    } 100% {
        transform: translateY(0); 
    }
}

.full-page-section {
    min-height: 100%;
    display: flex;
}

.section-content {
    flex: 1;
}

.title {
    padding-left: 2px;
    margin-top: -5px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 61px;
    color: var(--text-color);
}

.sub-title {
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 37px;
    color: var(--text-primary);
}


@keyframes pulse {
    0% {
        transform: translate(0, 0); 
    }
    50% {
        transform: translate(0, -10px); 
    }
    100% {
        transform: translate(0, 0); 
    } 
}

.card-on-shape-1 {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
}

/* Overide bootstrap */
.navbar-collapse {
    flex-grow: unset;
}

.navbar-toggler {
    font-size: 22px;
    outline:none !important;
    border: none;
}

.navbar-brand {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 7px!important;
}

@media (min-width: 767px) { 
    .nav-link.active {
        box-shadow: inset 0px -3px 0px 0px #f6f5f5;
    }
}

@media (max-width: 767px) { 
    .nav-link.active {
        box-shadow: inset 5px 0px 0px 0px #f6f5f5;
        
    }
}

.nav-py {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.nav-menu {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    transition: ease-in-out background .1s;
}

.nav-menu:hover {
    background: var(--darker-accent);
}

.nav-link {
    color: var(--white-text)!important;
}

.nav-select {
    transition: ease-in-out border-width .2s;
}

.nav-select.nav-select-border {
    border: 1.5px solid var(--white-text);
}

.nav-select > .nav-to-select {
    width: 67px;
    transition: ease-in-out width .2s, ease-in-out opacity .2s, ease-in-out padding-left .2s, ease-in-out padding-right .2s;
}

.nav-select > .nav-select-hide {
    padding-right: 0 !important;
    padding-left: 0 !important;
    z-index: -1;
    width: 0px;
    opacity: 0;
}

.btn {
    border: none;
    padding: .4rem 1rem .4rem 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-button) !important;
}

.btn:hover {
    color: var(--text-color-button) !important;
}


.btn-accent {
    background: var(--accent);
}

.btn-accent:hover {
    background: var(--darker-accent);
}

.btn-accent:focus {
    box-shadow: 0 0 0 0.2rem var(--darker-accent);
}

.btn-discord {
    background: #5C6BC0;
}

.btn-discord:hover {
    background: rgb(85, 98, 173);
}

.btn-discord:focus {
    box-shadow: 0 0 0 0.2rem rgb(85, 98, 173);
}

.btn-mail {
    background: #D54B3E;
}

.btn-mail:hover {
    background: rgb(180, 62, 51);
}

.btn-mail:focus {
    box-shadow: 0 0 0 0.2rem rgb(180, 62, 51);
}

.btn-primary {
    background: var(--primary) !important;
}

.btn-primary:hover {
    background: var(--darker-primary) !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--darker-primary) !important;
}

h1, h2, h3 {
    margin-bottom: .7rem;
}

p {
    margin-bottom: 1.2;
}

.card {
    border-radius: .8rem;
    background: var(--background-gr);
    padding: 1.5rem;
    border: none;
}

.bg-gr {
    background: var(--background-gr);
}

.bg-primary {
    background: var(--primary);
}

.bg-primary-gr {
    background: var(--primary-gr);
}

.bg-primary-split {
    background: var(--primary-split);
}

.bg-accent {
    background: var(--accent);
}

.bg-accent-gr {
    background: var(--accent-gr);
}

.bg-accent-split {
    background: var(--accent-split);
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.fp-caret-down {
    color: var(--text-accent);
    font-size: 72px;
}

.fp-caret-down:hover {
    color: var(--accent);
}

.pulse {
    animation: pulse 2s infinite;
}

.bg-accent-or-dark {
    background: var(--accent-or-dark);
}

.bg-primary-or-dark {
    background: var(--primary-gr);
}

.dark-mode .bg-primary-or-dark {
    background: var(--background-gr);
}

.text-white-or-accent {
    color: var(--white-or-accent);;
}

.text-white-or-accent:hover {
    color: var(--white-or-accent);;
}

.bt-primary {
    border-top: solid var(--primary) 1rem;
    border-radius: 0 0 .8rem .8rem;
}

footer {
    background: var(--black-text);
}

footer a {
    color: white;
    text-transform: uppercase;
    transition: opacity .2s;
}

footer a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.footer-logo {
    text-transform: uppercase;
}

.footer-logo div:first-child {
    font-size: 40px;
    line-height: .7;
}

.footer-logo div:last-child {
    font-size: 27px;
}

.nav-offset {
    height: 62.38px;
}

.card-icon {
    color: var(--white-text);
    font-size: 60px;
}

.card-text {
    margin-left: 25px;
    color: var(--white-text);
}

.card-text div:first-child {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
}

.card-text div:last-child{
    margin-left: 4px;;
    font-size: 20px;
}

.light-mode .card-accent {
    background: var(--accent-gr);
}

.light-mode .card-primary {
    background: var(--primary-gr);
}

.dark-mode .card-accent {
    border-top: 10px solid var(--accent);
    background: var(--lighter);
}

.dark-mode .card-primary {
    border-top: 10px solid var(--primary);
    background: var(--lighter);
}

.bg-lighter  {
    background: var(--lighter);
}

table {
    color: var(--text-color)!important;
    min-width: 600px;
}


.table-container {
    height: 380px;
    overflow-x: auto; 
    overflow-y: hidden; 
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

small {
    color: grey;
}

.nav-pills.pills-accent .nav-link.active {
    color: var(--white-text)!important;
    background-color: var(--accent);
}

.nav-pills.pills-white .nav-link.active {
    color: var(--primary)!important;
    background-color: var(--white-text);
}

.dark-mode .nav-pills.pills-white .nav-link.active {
    color: var(--black-text)!important;
    background-color: var(--white-text);
}



.nav-pills .nav-link {
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: none;
    padding: .2rem 1.2rem .3rem 1.2rem;
}

.nav-pills.pills-accent .nav-link {
    color: var(--text-accent)!important;
}

.nav-pills.pills-white .nav-link {
    color: var(--white-text)!important;
}


.chart-container {
    position: relative;
    height: 100%;
}

@media (max-width: 1200px) { 
    .chart-container {
        height: 400px;
    }
}

.input {
    width: 100%;
    display: block;
    max-width: 300px;
    padding: .2rem .8rem .2rem .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    color: var(--text-color);
    background: var(--lighter-or-darker);
}

.card-rank div:last-child {
    font-weight: 500;
    font-size: 42px;
    line-height: .9;
}

.link {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: inherit;
}

.link:hover, .link:focus  {
    outline: none;
    text-decoration: underline;
}

.black-mode .bg-info-popper {
    background: var(--background-gr);
}

.light-mode .bg-info-popper {
    background: var(--white-text);
}


@media (max-width: 1200px) { 
    #player-info-popper {
        width: 100%;
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
        display: none;
    }    
}

@media (min-width: 1200px) { 
    #player-info-popper {
        max-width: 650px;
        display: none;
    }    
}


#player-info-popper {
    display: block;
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

#player-info-popper[data-show] {
    opacity: 1;
    visibility: visible;
}


.round-primary {
    background: var(--primary);
    font-size: 32px;
    width: 4.5rem;
    height: 4.5rem;
    color: white;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 50%!important;
    
}

.round-primary.bigger {
    width: 7rem;
    height: 7rem;
    font-size: 42px;
}
.chevron {
    background: var(--accent);
    width: 4.5rem;
    height: 4.5rem;
    color: var(--white-text)!important;
    font-size: 32px;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border-radius: 50%!important;
}

.chevron:hover {
    background: var(--darker-accent);
}

.chevron:active {
    box-shadow: 0 0 0 0.2rem var(--darker-accent)
}

.fadeInLeft {
    animation: fadeInLeft .2s ease-in-out;
}

.fadeInRight {
    animation: fadeInRight .2s ease-in-out;
}

.fadeOutLeft {
    animation: fadeOutLeft .2s ease-in-out;
}


.fadeOutRight {
    animation: fadeOutRight .2s ease-in-out;
}


@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

 @keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0px);
    }
    100% {
       opacity: 0;
       transform: translateX(-50px);
    }
 }   

 @keyframes fadeOutRight {
    0% {
       opacity: 1;
       transform: translateX(0px);
    }
    100% {
       opacity: 0;
       transform: translateX(50px);
    }
 } 

 pre {
     background: #E0E0E0;
     text-align: center;
     padding: 1rem;
     border-radius:.4rem;
     white-space: pre-wrap;
     word-wrap: break-word;
 }

 .dark-mode pre {
    background: #101010;
 }

 code {
     color: #DE43A0!important;
     font-size: 18px!important;
 }

 .key-bigger {
     font-size: 20px;
     padding: .2rem .5rem .1rem .5rem;
     font-weight: 600;
     margin-right: 1rem;
 }

 .shortcuts-table  {
     margin-right: auto;
     margin-left: auto;
     min-width: 0px;
     max-width: 800px;
 }

 .shortcuts-table tr {
     border-top: 1px solid #929292;
 }

 .shortcuts-table tr:last-child {
    border-bottom: 1px solid #929292;
}

 .shortcuts-table td {
    margin: 1rem 0rem;
}

.drop-shadow {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}