/* Variables */

:root {
  --primary: #00d647;
  --accent: #f16b4d;
  --darker-accent: #be543c;
  --lighter: rgba(255, 255, 255, 0.10);
  --darker: rgba(0, 0, 0, 0.50);
  --black-text: #2b2b2b;
  --white-text: #FFFFFF;
  --text-color-button: white;
  --accent-gr: linear-gradient(222.25deg, #F26E50 18.73%, #E86F8C 80.5%);
  --primary-gr: linear-gradient(76.7deg, #01AD84 -0.93%, #00CB44 95.35%);
}

.light-mode {
  --background-gr: white;
  --background-card: white;
  --text-color: var(--black-text);
  --accent-or-dark: var(--accent-gr);
  --white-or-accent: var(--white-text);
  --text-primary: #00a537;
  --text-accent: #e64a27;
  --lighter-or-darker:  rgba(0, 0, 0, 0.10);
}

.dark-mode {
  --background: #0A0A0A;
  --background-card: linear-gradient(101.42deg, #1F1F1F 0%, #343434 100%);;
  --text-color: var(--white-text);
  --accent-or-dark: var(--background-gr);
  --white-or-accent: var(--accent);
  --text-primary: #00d647;
  --text-accent: #ff7e61;
  --lighter-or-darker: var(--lighter);
}

/* Generic */

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  overflow-x: hidden!important;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 400!important;
  font-size: 18px!important;
  background: var(--background)!important;
  color: var(--text-color)!important;
}

h1, h2, h3, h4, h5 {
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  margin-bottom: .7rem;
}

p {
  margin-bottom: 1.2;
}

b {
  font-weight: 600;
}

kbd {
  background-color: var(--accent)!important;
  margin: 2px;
}

pre {
  background: #E0E0E0;
  text-align: center;
  padding: 1rem;
  border-radius:.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

table {
  color: var(--text-color)!important;
}

.dark-mode pre {
  background: #101010;
}

code {
   color: #DE43A0!important;
   font-size: 18px!important;
}

.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

.drop-shadow {
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));
}

.input {
  width: 100%;
  display: block;
  max-width: 300px;
  padding: .3rem .8rem .2rem .8rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--lighter-or-darker);
}


/* Colors */

div .text-accent {
  color: var(--text-accent)!important;
}

div .text-primary  {
  color: var(--text-primary)!important;
}

.text-white {
  color: var(--white-text)!important;
}

.text-black {
  color: var(--black-text)!important;
}

.text-white-or-accent {
  color: var(--white-or-accent)!important;
}

.bg-gr {
  background: var(--background-gr)!important;
}

.bg-primary {
  background: var(--primary)!important;
}

.bg-primary-gr {
  background: var(--primary-gr)!important;
}

.bg-accent {
  background: var(--accent)!important;
}

.bg-accent-gr {
  background: var(--accent-gr)!important;
}

.dark-mode .bg-darker  {
  background: var(--darker)!important;
}

.bg-lighter  {
  background: var(--lighter)!important;
}

.bg-dark {
  background: var(--black-text)!important;
}

.bg-accent-or-dark {
  background: var(--accent-or-dark);
}

.bg-primary-or-dark {
  background: var(--primary-gr);
}

.dark-mode .bg-primary-or-dark {
  background: var(--background-gr);
}

/*
  Navbar
*/

#navbar {
  transition: top 0.3s, background-color 0.3s ; 
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-toggler {
  font-size: 22px;
  outline: none !important;
  border: none!important;
}

.navbar-brand {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-bottom: 7px!important;
}



@media (min-width: 991px) { 
  .nav-link.active {
      box-shadow: inset 0px -4px 0px 0px white;
  }
}

@media (max-width: 991px) { 
  .nav-link.active {
      box-shadow: inset 5px 0px 0px 0px white;
  }
}

.nav-menu {
  display: inline-block;
  position: relative;
  color: var(--white-text);
}

.nav-menu::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--white-text);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-menu:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.nav-py {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

.nav-menu {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  transition: ease-in-out background .1s;
}

.nav-menu:hover {
  background: rgba(0, 0, 0, 0.30);
}

.nav-link {
  color: var(--white-text)!important;
}

.nav-select {
  transition: ease-in-out border-width .2s;
}

.nav-select.nav-select-border {
  border-radius: 1.5rem;
  border: 1.5px solid var(--white-text);
}

.nav-select > .nav-to-select {
  width: 67px;
  transition: ease-in-out width .2s, ease-in-out opacity .2s, ease-in-out padding-left .2s, ease-in-out padding-right .2s;
}

.nav-select > .nav-select-hide {
  padding-right: 0 !important;
  padding-left: 0 !important;
  z-index: -1;
  width: 0px;
  opacity: 0;
}

.nav-offset {
  height: 65.38px;
}

.nav-header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-nav  {
    color: inherit;
    display: inline;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border: none;
    background: none;
    margin: 0;
    padding: 0 !important;
    font-family: inherit;
}

.button-nav:focus {
  outline: 0;
}

#nav-user-tooltip{
  z-index: 2;
  transition: opacity .3s;
}

@media (max-width: 991px) { 
  #nav-user-tooltip {
      width: 100%;
      padding-left: 1.5rem!important;
      padding-right: 1.5rem!important;
  }    
}

@media (min-width: 991px) { 
  #nav-user-tooltip {
      width: 320px;
  }    
}

#nav-user-tooltip div {
  color: var(--white-text)!important;
  background: #2B2B2B!important;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 14px;
  height: 14px;
  z-index: -1;
}

#arrow::before {
  content: '';
  top: -4px;
  transform: rotate(45deg);
  background-color: #2B2B2B!important;
}

/* Cards */

.card {
  border-radius: .8rem!important;
  background: var(--background-card)!important;
  padding: 1.5rem!important;
  border: none!important;
}


.light-mode .card-accent {
  background: var(--accent-gr)!important;
}

.light-mode .card-primary {
  background: var(--primary-gr)!important;
}

.dark-mode .card-accent {
  border-top: 10px solid var(--accent)!important;
}

.dark-mode .card-primary {
  border-top: 10px solid var(--primary)!important;

}

.bt-primary {
  border-top: solid var(--primary) 1rem!important;
  border-radius: 0 0 .8rem .8rem!important;
}


/* Create an opacity hover effet */

.opacity-interaction {
  transition: ease-in-out opacity .2s;
}

.opacity-interaction:hover {
  opacity: .75;
}

.opacity-interaction:focus {
  opacity: .5;
}

/* Button */

.btn {
  border-radius: 2rem!important;
  border: none!important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--text-color-button) !important;
}

.btn-primary, .btn-accent, .btn-discord, .btn-mail{
  padding: .6rem 1.5rem .6rem 1.5rem!important;
}

.btn-link {
  border: none!important;
  background-color: transparent!important;
  outline: none!important;
}

/* Nav */

.nav-pills.pills-accent .nav-link.active {
  color: var(--white-text)!important;
  background-color: var(--accent);
}

.nav-pills.pills-white .nav-link.active {
  color: var(--text-primary)!important;
  background-color: var(--white-text);
}

.dark-mode .nav-pills.pills-white .nav-link.active {
  color: var(--black-text)!important;
  background-color: var(--white-text);
}

.nav-pills .nav-link {
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 1rem !important;
  box-shadow: none;
  padding: .3rem 1.2rem .2rem 1.2rem;   
}

.nav-pills.pills-accent .nav-link {
  color: var(--text-accent)!important;
}

.nav-pills.pills-white .nav-link {
  color: var(--white-text)!important;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active  {
  outline: none;
}

.hide-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-mode .bg-info-popper {
  border: solid 1px #777!important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

.light-mode .bg-info-popper {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  border: solid 1px #aaa!important;
}

.modal-content {
  border-radius: .8rem!important;
  background: var(--background-card)!important;
  padding: 1.5rem!important;
  border: none!important;
}
