// Override default variables before the import
$primary: #00ac3a;
$secondary: #f16b4d;
$link-color: $secondary;
$theme-colors: (
  "primary": $primary, 
  "accent": $secondary,
  "discord": #5C6BC0,
  "mail": #D54B3E
);
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import 'custom_global.css';


