.full-page-section {
  min-height: 100%;
  display: flex;
}

.section-content {
  flex: 1;
}

.bgvid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.fp-caret-down {
  color: var(--text-accent);
  font-size: 72px;
}

.fp-caret-down:hover {
  color: var(--accent);
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.logo-front-page {
  width: 500px;
}

@media (max-width: 700px) { 
  .logo-front-page {
      width: 250px;
  }
}

.card-on-shape-1 {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
}

.round-accent {
  width: 90px;
  height: 90px;
  background: var(--accent-gr);
  border-radius: 50%;
}