.card-icon {
  color: var(--white-text);
  font-size: 70px;
  line-height: 1;
}

.card-text {
  margin-left: 25px;
  color: var(--white-text);
}

.card-text div:first-child {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

.card-text div:last-child{
  margin-left: 4px;;
  font-size: 20px;
  line-height: 1;
}

.last-kill {
  height: 480px;
}

@media (max-width: 575px) {
  .last-kill {
    height: 810px;
  }
}

.live-table {
  min-width: 600px;
}

.table-container {
  height: 380px;
  overflow-x: auto; 
  overflow-y: hidden; 
}

.live-table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.live-table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
.live-table tbody {
  flex: 1 1 auto;
  display: block;
}
.live-table tbody tr {
  width: 100%;
}
.live-table thead, .live-table tbody tr {
  display: table;
  table-layout: fixed;
}

.dynamic-table {
  overflow-y: auto;
}

.dynamic-table {
  will-change: transform, height, opacity;
  width: 100%;
}

.dynamic-table tr {
  position: absolute;
}




.truncateNews {
  height: 80px;
}

.chart-container {
  position: relative;
  height: 90%;
}

@media (max-width: 1200px) { 
  .chart-container {
      height: 400px;
  }
}

.card-rank div:last-child {
  font-weight: 600;
  font-size: 42px;
  line-height: .9;
  font-family: 'Montserrat', sans-serif;
}

.playerButton {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: inherit;
  transition: transform 0.2s ease, color 0.2s ease;
}

.playerButton:focus, .playerButton:hover {
  outline: none;
  transform: translateX(4px);
  color: var(--accent);
}

@media (max-width: 1200px) { 
  .player-info-popper {
      width: 100%;
      padding-left: 1.5rem!important;
      padding-right: 1.5rem!important;
      display: none;
  }    
}

@media (min-width: 1200px) { 
  .player-info-popper {
      max-width: 650px;
      display: none;
  }    
}


.player-info-popper {
  z-index: 1;
  display: block;
  position: fixed;
  width: 100%;
  transition: opacity .3s;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bigNews img {
  max-width: 100%;
  height: auto;
}

.link-effect {
  color: var(--text-accent)!important;
  transition: opacity .2s;
  text-decoration: underline;
}

.link-effect:hover {
  opacity: .7;
}


